.idea/
src/__pycache__/
src/dispatch/contents/
src/parse/__pycache__/
src/download/__pycache__/
src/manage/__pycache__/
modules/parser/__pycache__/
modules/download/__pycache__/
modules/__pycache__/
models/__pycache__/
modules/store/__pycache__/
modules/url/__pycache__/
crcms_spider/base/__pycache__/
crcms_spider/models/__pycache__/
crcms_spider/parser/__pycache__/
